* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --header-text: #ffffff;
    --header-bg: #202e4a;
}

body {

    background: rgb(2,0,36);
    background: linear-gradient(to bottom right, rgba(2,0,36,1) 0%, rgba(173,173,180,1) 0%, rgba(50,60,82,1) 71%);
    background-attachment: fixed;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-bottom: 20px;
    align-items: baseline;
    background-color: #202e4a;
}

header h1 {
    color: var(--header-text);
}

.navbar a {
    color: var(--header-text);
}

h2 {
    text-align: center;
    color: var(--header-text);
}

img {
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
}

img:hover {
    filter: none;
    -webkit-filter: grayscale(0);
}

#about-me img {
    text-align: center;
    padding: 50px;
    width: 200px;
    height: 200px;
    justify-content: left;

}

#about-me {
    line-height: 1.5;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--header-text);
    justify-content: space-evenly;
    align-items: center;

}

#about-me p {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#horiseon img {
    margin-left: 30%;
    margin-right: 30%;
}

.my-work img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 40%;
    height: 20%;
    border: 5px solid var(--header-bg)
}

.my-work p:hover {
    color: #ffffff;
}

.site-nav h2 {
    text-align: left;
    margin: 20px;
    color: var(--header-text);
}

#my-work {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    margin-bottom: 100px;
}

#div {
    display:flex;
    justify-content: space-around;
    margin-left: 10%;
    justify-content: center;
}

#div img {
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
}

#div p {
    margin-right: 25%;
}

#contact-info {
    text-align: center;
}

#contact-info a {
    color: var(--header-text)
}

@media screen and (max-width: 980px) {
    header {
        width: 100%;
    }

    body {
        width: 100%;
    }
}

@media screen and (max-width: 768px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-left: 0;
        padding-right: 0;
    }

    body {
        width: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #about-me {
        flex: 0 2 auto;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #my-work {
        flex: 0 2 auto;
    }

    #contact-info a {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}




